pandas~=1.2.4
numpy~=1.21.0rc1
xlrd
openpyxl
xlsxwriter
nltk~=3.6.2
requests~=2.25.1
transformers==4.3.3
sentence-transformers
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cpu
torchvision==0.8.2+cpu
allennlp==2.1.0
allennlp-models==2.1.0
fuzzywuzzy~=0.18.0
scikit-learn~=0.24.2
spacy==2.2.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm